/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step--2: clamp(0.6944rem, 0.6593rem + 0.1759cqi, 0.8rem);
    --step--1: clamp(0.8333rem, 0.7778rem + 0.2778cqi, 1rem);
    --step-0: clamp(1rem, 0.9167rem + 0.4167cqi, 1.25rem);
    --step-1: clamp(1.2rem, 1.0792rem + 0.6042cqi, 1.5625rem);
    --step-2: clamp(1.44rem, 1.269rem + 0.8552cqi, 1.9531rem);
    --step-3: clamp(1.728rem, 1.4902rem + 1.189cqi, 2.4414rem);
    --step-4: clamp(2.0736rem, 1.7475rem + 1.6303cqi, 3.0518rem);
    --step-5: clamp(2.4883rem, 2.0462rem + 2.2106cqi, 3.8147rem);
    --color-1: #0f0f0f;
    --accent-color: #ff7e5f;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
body {
    background-color: lightgray;
}
main{
    max-width: 1200px;
    margin: auto;
}
h1, h2 {
    font-weight: 800;
    font-family: 'Josefin Sans';
}
h1{
    text-align: center;
    font-size: var(--step-4);
}
h2{
    font-size: var(--step-2);
    font-weight: 700;
}
p{
    font-size: var(--step-0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
    margin-top: 40px;
    padding: 20px;
}
#capetown {
    background-color: lightgreen;
}
#london {
    background-color: yellow;
}
#newyork {
    background-color: violet;
}
#paris {
    background-color: orange;
}
#hanoi {
    background-color: greenyellow;
}
footer p {
    text-align: center;
    font-size: var(--step--1);
}
/* Styling navigation */
.menu{
    background: var(--accent-color); 
    font-size: var(--step-1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.427);
}
.menu__links{
    display: flex;
    align-items: center;
}
.menu__link{
    padding: 0.75em 1.25em;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: var(--step-1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu__link:hover{
    background-color: #feb47b;
}
.menu svg{
    fill: black;
}
#sidebarActive{
    display: none; /* hides the checkbox on desktop */
}
.openSidebar, .closeSidebar{
    display: none; /* hides the open and close buttons on desktop */
}
.intro{
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}
/* Styling the city blog */
.blog{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 1em;
    container-type: inline-size;
}
.blog__post{
    padding: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.427);
}
.blog__post p{
    padding: 0 0.5em;
    margin: 0;
}
.cardsParis{
    grid-column: span 2;
}
@media (width < 650px) {
    /* place the menu icon to the right */
    .menu{
        justify-content: flex-end;
        align-items: center;
    }
    .menu__links{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%; /* hides the menu container so that it can be animated */
        z-index: 2;
        background: #333;
        width: 60vw;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        height: 100%;
        transition: 400ms ease-in-out;
    }
    .menu__link{
        color: white;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 1em 2em;
    }
    .menu svg{
        fill: white;
    }
    .openSidebar, .closeSidebar{
        display: block;
        padding: 0.5em 1.25em;
    }
    /* the checkbox is hidden by default, but once it's checked it becomes visible */
    #sidebarActive:checked ~ .menu__links{
        right: 0;
    }
    /* adds an overlay so the user can press anywhere on the screen besides the nav bar to close it */
    #sidebarActive:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
@media (max-width: 1000px) {
    .blog{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 800px) {
    .blog{
        grid-template-columns: 1fr;
    }
    .cardsParis{
        grid-column: span 1;
    }
}
/* checks whether the user has their system set to dark mode and switches the theme accordingly */
@media (prefers-color-scheme: dark) {
    body {
        background: #1f1f1f;
    }
    h1, .intro p, footer p {
        color: white
    }
}
@container (width < 45ch) {
    .blog__post {
        grid-template-columns: auto minmax(25ch, 1fr);
    }
    .blog__post h2{
        grid-column: 1 / -1;
    }
}